<section
  class="w-screen flex justify-center items-center 2xl:mb-60 pb-24 sm:pb-32 md:pb-44 lg:pb-0"
  id="home"
>
  <div
    class="w-full flex flex-col justify-center items-center pt-10 md:pt-12 lg:pt-16 text-center"
  >
    <div
      class="text-5xl mt-12 sm:text-6xl lg:text-7xl xl:text-7xl font-bold tracking-wide text-white px-8 sm:px-8 md:px-20 lg:px-4"
    >
      <span class="text-shadow-lg shadow-black">Build beatiful Websites</span>
    </div>
    <div
      class="mt-2 sm:mt-2 text-shadow-lg shadow-black text-4xl sm:text-6xl lg:text-7xl xl:text-7xl font-bold tracking-wide text-white px-8 sm:px-20 md:px-24 lg:px-24"
    >
      with Midjourney
    </div>

    <div
      class="text-gray-100 text-shadow-lg shadow-black text-sm lg:text-base xl:text-lg sm:text-base mt-10 px-12 sm:px-48"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat
      laoreet lacinia.
    </div>

    <div
      class="flex flex-col gap-2 sm:flex-row mt-14 mb-24 sm:mb-40 justify-center"
    >
      <div
        class="shadow w-48 sm:w-52 h-12 rounded-xl backdrop-blur-3xl backdrop-saturate-200 font-bold text-white border border-solid flex justify-center items-center cursor-pointer transition"
      >
        Get Started
      </div>
    </div>
  </div>
</section>
